*
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    
    
}

/*Nav*/

.logo{
    width: 200px;
}

.navbar{
    display: none;
}
.nav-mobile{
    display: block;
    position: fixed;
    bottom: -19px;
    width: 100%;
    height: 60px;
    overflow-x: auto;
    display: flex;
    background-color: #BFFD00;
    margin-left: -1.5%;
}

.nav-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
    text-decoration: none;
    margin-left: -10%;

    color: rgb(0, 0, 0);
    transition: background-color 0.1s ease-in-out;
}



a{
    text-decoration: none;
    color: black;
}

p{
    color: black;
}

h1{
    font-size: 50px;
    margin-bottom: 0%;
}
h2{
    font-size: 25px;
    margin-bottom:10%;
    margin-top: 0%;
}

.split-screen{
    display: flex;
    flex-direction: column;
    ;
}

#quote{
 max-width: 100%;

}


.left, .right{
    display: flex;
    justify-content: center;
    align-items: center;
}


.right .copy{
    text-align: left;
}

.right form{
    width: 330px;
}

.login-input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius:8px;
    border: 1px solid #c4c4c4;
    margin-bottom: 1.25rem;
    font-size: 25px;
}

label{
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    color: gray;
}

input{
    width: 400px;
    height: 50px;
    margin-bottom: 40px;
}

.signup-btn{
    display: block;
    width: 50%;
    margin-left: 25%;
    color: white;
    background-color: greenyellow;
    font-weight: 1000;
    margin-top: 20px;
    text-transform: uppercase;
    margin-bottom: 10%;
    margin-top: 10%;
    height: 40px;
    border-radius: 5px;
}

.signup-btn:hover{
    background-color: blue;
}

.link1{
    margin-left: 33%;
}

.link2{
    margin-left: 37%;
}


.bg-popup{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    
}

.modal-content{
    width: 400px;
    height: 600px;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    position: relative;
   
}

.modal-content h1{
    font-size: 45px;
    margin-top: 10%;
}
 .pw-details{
     margin-bottom: 10%;
 }


.close{
    position: absolute;
    top: 0;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}



.feed{
    margin-left: 8%;
    margin-right: 8%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.project{
    height: 450px;
    width: 28%;
    margin-bottom: 80px;
}

.profileProject{
    height: 410px;
}

.projectImageContainer{
    height: 300px;
    width: 100%;
    margin-bottom: 10px;
}

.projectImage{
    height: 300px;
    width: 100%;
}

.avatar{
    height: 50px;
    width: 50px;
}

.avatar-profile{
    height: 100px;
    width: 100px;
}

.firstDetails{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.img-details{
    display: flex;
    flex-direction: row;
}

.details{
    height: 70px;
}

.postAction{
    text-decoration: none;
    width: 40px;
    height: 40px;
}

#like{
    /* background-image: url("/icons/like.png"); */
}

#comment{
    /* background-image: url("/icons/comment.png"); */
}

#save{
    /* background-image: url("/icons/save.png"); */
}

.liked{
    color: rgb(221, 32, 205);
}

.detailsText{
    margin: 5px 0px 0px 10px;
}

.secondDetails{
    width: 100%;
    height: 80px;
    display: flex;
}

.extraDetails{
    margin-top: 10px;
    width: 50%;
}

.tags{
    margin-top: 15px;
    width: 50%;
}

.pagination{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.page{
    margin-right: 5px;
}

.active-tag{
    color: rgb(221, 32, 205);
}

.search-filter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.filters{
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    
}

.filter{
    margin: 0 0 0 8px;
    padding: 4px 6px;
    background-color: #BFFD00;
    border-radius: 8px;
}

.active-filter{
    color: #FFFFFF;
    background-color: #1D1AFF;
}

.successMessage{
    position: absolute;
    background-color: #BFFD00;
    width: 50%;
    top: 25%;
    left: 25%;
    border-radius: 10px;
    padding: 3% 3% 12% 3%;
}

.successMessage > *{
    text-align: center;
}

.successMessage span{
    position: absolute;
    top: 60%;
    left: 40%;
}

.dissapear{
    display: none;
}

.profileDetails{
    padding: 50px 0 40px 0;
    border-bottom: 2px solid rgb(188, 188, 188);
}

.profileDetails > *{
    text-align: center;
}

.profileDetails .avatar{
    display:block;
    margin: auto;
    height: 100px;
    min-width: 100x;
}

.settingIcon{
    position: absolute;
    top: 20px;
    right: 20px;
    color: blue;
}
.closeIcon{
    position: absolute;
    top: 20px;
    right: 20px;
    color: blue;
}

#linkedin{
    display:inline-block;
    margin: auto auto auto 10px;
    background-image: url("../icons/linkedin.png");
    height: 30px; 
    width: 30px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
#instagram{
    display:inline-block;
    margin: auto 10px auto auto;
    background-image: url("../icons/instagram.png");
    height: 30px; 
    width: 30px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

#settingsForm{
    display: block;
    max-width: 80%;
    /* margin-left: 25%; */
    margin: auto;
}

#settingsForm form input{
    width: 100%;
}

.btn{
    display: block;
    width: 100%;
    color: white;
}
/*modal*/

.bg-popup{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    
}

.modal-content{
    width: 400px;
    height: 700px;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    position: relative;
   
}

.modal-content h1{
    font-size: 45px;
    margin-top: 10%;
}
 .pw-details{
     margin-bottom: 10%;
 }
 .input-cp{
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius:8px;
    border: 1px solid #c4c4c4;
    margin-bottom: 1.25rem;
    font-size: 25px;
}

.close{
    position: absolute;
    top: 0;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
    margin-left: 85%;
}

.cp-btn{
    display: block;
    width: 60%;
    margin-left: 20%;
    color: rgb(0, 0, 0);
    background-color: greenyellow;
    font-weight: 1000;
    margin-top: 20px;
    text-transform: uppercase;
    margin-bottom: 10%;
    margin-top: 10%;
    height: 40px;
    border-radius: 5px;
}

.btn:hover{
    background-color: blue;
}

.followBtn{
    background-color: #1D1AFF;
    padding: 5px 35px ;
    border-radius: 5px;
    color: white;
}

.unfollowBtn{
    border: #1D1AFF solid 2px;
    padding: 3px 25px ;
    border-radius: 5px;
    color:#1D1AFF;
}

.cp-btn:hover{
    background-color: blue;
    color: white;
}


/*report users*/
.modal-content2{
    width: 400px;
    height: 700px;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    position: relative;
}

.options{
    height: 30px;
    font-size: 25px;
    
}

#report{
    height: 300px;
}

.multi-choice{
    height: 20px;
    width: 20px;
    margin-right: 5%;  
}

.report-btn{
    margin-top: 15%;
    background-color: greenyellow;
    color: black;
    border-radius: 5px;
    font-weight: bold;
}

.report-btn:hover{
    background-color: blue;
    color: white;
}

.editImage{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

@media (min-width: 900px){



    /*nav*/

    .logo {
        font-size: 30px;

    }
    
    .nav-mobile{
        display: none;
    }

    .navbar{
        margin-bottom: 5%;
        display: flex;
        width: 100%;
        align-items: center;
        
    }
    
    .navbar ul{
        flex: 1;
        text-align: center;
        margin-right: 12%;
        font-weight: bold;
        
    }
    
    .navbar ul li{
        display: inline-block;
        margin: 0 30px;
    }
    


    #quote{
     max-width: 70%;
   
    }
    .split-screen{
        flex-direction:row;
        height: 100vh;
    }
    .left, .right{
        display: flex;
        width:50%;
        height: auto;
    }

 .right form{
     width:400px;
     margin-top: 0%;
 }

 label{
     font-size: 20px;
 }

 .login-input{
    font-size: 30px;
    margin-bottom: 10%;
}

.signup-btn{
    width: 70%;
    margin-left: 15%;
    margin-bottom: 0%;
}

.profileDetails{
    display: flex;
    padding: 0% 20% 5% 20% ;
}

.profileDetails > *{
    text-align: left;
}
.profileDetails .avatar{
    flex: 20;
}
.userData{
    flex: 70;
}
.settingIcon{
    position: relative;
}
.closeIcon{
    position: relative;
}
#settingsForm{
    max-width: 40%;
}
.successMessage span{
    position: absolute;
    top: 55%;
    left: 45%;
}
.successMessage{
    padding: 3%;
}

}

