*
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    
    
}

.error{
    color: rgb(0, 0, 0);
    margin: 4% 0 4% 0;
}

/*Nav*/

.logo{
    width: 200px;
}

.navbar{
    display: none;
}
.nav-mobile{
    display: block;
    position: fixed;
    bottom: -19px;
    width: 100%;
    height: 60px;
    overflow-x: auto;
    display: flex;
    background-color: #BFFD00;
    margin-left: -1.5%;
}

.nav-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
    text-decoration: none;
    margin-left: -10%;
    color: rgb(0, 0, 0);
    transition: background-color 0.1s ease-in-out;
}

#line{
    display: hidden;
}

.alt-timeline{
margin-top: 7%;
margin-left: 35%;
margin-bottom: 10%;
font-weight: 600;
}

#alt-feed{
    margin-right: 2%;
}

#alt-following{
    margin-left: 2%;
}

#alt-feed:hover{
    color: #1D1AFF;
}

#alt-following:hover{
    color: #1D1AFF;
}

.search-filter{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    align-items: center;
}
.search-balk{
  width: 400px;
  
}
.search-balk input{
    width:75%;
    border:2px solid rgb(227, 226, 226);
    font-size: 18px;
    padding:12px;
    border-radius: 2px;
    margin-bottom: 0%;
}

.search-balk input[type="submit"]
{
    width:25%;
    background-color: #BFFD00;
    color:black;
    transition: all 0.3s;
    float: right;
    border-left:0px;
    font-weight: 600;
    border-color: #BFFD00;
}
a{
    text-decoration: none;
    color: black;
}

p{
    color: black;
}

h1{
    font-size: 50px;
    margin-bottom: 0%;
}
h2{
    font-size: 25px;
    margin-bottom:10%;
    margin-top: 0%;
}

.split-screen{
    display: flex;
    flex-direction: column;
}

#quote{
 max-width: 100%;
}


.left, .right{
    display: flex;
    justify-content: center;
    align-items: center;
}


.right .copy{
    text-align: left;
}

.right form{
    width: 330px;
}

.right form input{
    margin: 0 0 2% 0;
}

.login-input{
    margin-bottom: 0%;
}

.input-box input{
    display: block;
    font-size: 25px;
    width: 100%;
    box-sizing: border-box;
    border-radius:8px;
    border: 1px solid #c4c4c4;
}

.login-input1{
    margin-bottom: 1.25rem;
}

.login-input{
    margin-bottom: 0%;
}

label{
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    color: gray;
}

input{
    width: 400px;
    height: 50px;
    margin-bottom: 40px;
}

.userdetails{
    height: 20%;
}

.signup-btn{
    width: 50%;
    color: white;
    background-color: #BFFD00;
    font-weight: 1000;
    text-transform: uppercase;
    margin-bottom: 10%;
    margin-top: 10%;
    height: 40px;
    border-radius: 5px;
    margin-left: 20%;
}

.signup-btn:hover{
    background-color: #1D1AFF;
}

.link1{
    margin-left:33%;
}

.link2{
    margin-left: 37%;
}

.link3{
    margin-left: 40%;
}

.bg-popup{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content{
    width: 400px;
    height: 600px;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    position: relative;
}

.modal-content h1{
    font-size: 45px;
    margin-top: 10%;
}

.pw-details{
     margin-bottom: 10%;
 }


.close{
    position: absolute;
    top: 0;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

.editproject{
    border: solid 1px rgb(134, 134, 134);
    border-radius: 5px;
    padding: 5px 8px 5px 8px;
}

.editproject:hover{
    background-color: #c4c4c4;
}

.deleteproject{
    border: solid 1px rgb(211, 71, 71);
    padding: 5px 8px 5px 8px;
    border-radius: 5px;
    color: rgb(211, 71, 71);
}
.deleteproject:hover{
    background-color: rgb(211, 71, 71);
    color: white;
}

.showcaseInactive{
    border: solid 1px #1D1AFF;
    padding: 5px 8px 5px 8px;
    border-radius: 5px;
    color: #1D1AFF;
    width: 135px;
}

.showcaseInactive:hover{
    background-color: #1D1AFF;
    color: white;
}

.showcaseActive{
    background-color: #1D1AFF;
    color: white;
    padding: 5px 8px 5px 8px;
    border-radius: 5px;
    width: 185px;
}

.showcaseActive:hover{
    background-color: white;
    color: #1D1AFF;
    border: solid 1px #1D1AFF;
}

#report{
    margin-top:10% ;
}

.reportitem{
    margin-left: 65%;
    border: solid 1px black;
    border-radius: 5px;
    padding: 5px 8px 5px 8px;
}

.reportitem:hover{
    background-color: black;
    color: white;
}
.reportuser{
    margin-left: 60%;
    border: solid 1px black;
    border-radius: 5px;
    padding: 5px 8px 5px 8px;
}

.reportuser:hover{
    background-color: black;
    color: white;
}

.feed{
    margin-left: 8%;
    margin-right: 8%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project{
    height: 450px;
    width:100%;
    margin-bottom: 80px;
}

#avatar-img2{
    width: 70px;
} 

#avatar-img{
    width: 120px;
    margin-left: -60%;
}
.profileProject{
    height: 410px;
}

.projectImageContainer{
    height: 150px;
    margin-bottom: 10px;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    background-color: lightgray;
    background-size: contain;
    overflow: hidden;
}

.projectImage{
    height: 100%;
    width: 100%;
}

.avatar{
    height: 50px;
    width: 50px;
}

.avatar-profile{
    height: 100px;
    width: 100px;
}

.firstDetails{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.img-details{
    display: flex;
    flex-direction: row;
}

.details{
    height: 70px;
}

.postAction{
    text-decoration: none;
    width: 40px;
    height: 40px;
}
.commentlist ul{
    text-decoration: none;
}

.commentform{
    display: flex;
    flex-direction: row;
    margin-top: 10%;
}

.commentform input{
    border:2px solid rgb(227, 226, 226); 
    border-radius: 2px;
}

.submitcomment{
  background-color: #BFFD00;
  color: black;
  font-weight: bold;
  text-align: center;
  height: 50px;
  width: 200px;
  border-radius: 2px;
  padding: 0px 5px 0px 5px;
}

.submitcomment:hover{
    background-color:#1D1AFF;
    color: white;
}

.deleteComment{
    border: solid 1px rgb(211, 71, 71);
    padding: 5px 8px 5px 8px;
    border-radius: 5px;
    color: rgb(211, 71, 71);
    margin-left: 80%;
}

.deleteComment:hover{
    background-color: rgb(211, 71, 71);
    color: white;
}

.liked{
    color: #1D1AFF;
}

.detailsText{
    margin: 5px 0px 0px 10px;
}

.secondDetails{
    width: 100%;
    height: 80px;
    display: flex;
}

.extraDetails{
    margin-top: 10px;
    width: 50%;
}

.tags{
    margin-top: 15px;
    width: 50%;
}

.pagination{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.page{
    margin-right: 5px;
}

.active-tag{
    color: #1D1AFF;
}

.search-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search-filter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin-left: 5%;
    flex-direction: column;
}

.search-form{
    width: 400px;
}

.search-form input{
    width:75%;
    border:2px solid rgb(227, 226, 226);
    font-size: 18px;
    padding:12px;
    border-radius: 2px;
    margin-bottom: 0%;
}

.search-form input[type="submit"]{
    width:25%;
    background-color: #BFFD00;
    color:black;
    transition: all 0.3s;
    float: right;
    border-left:0px;
    font-weight: 600;
    border-color: #BFFD00;
}

.filters{
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}

.filter{
    margin: 0 0 0 8px;
    padding: 4px 6px;
    background-color: #BFFD00;
    border-radius: 8px;
}

.active-filter{
    color: #FFFFFF;
    background-color: #1D1AFF;
}

#tags-section{
    display: flex;
}

#tags-section input{
    height: 20px;
}

.successMessage{
    position: absolute;
    background-color: #BFFD00;
    width: 50%;
    top: 25%;
    left: 25%;
    z-index: 1;
    border-radius: 10px;
    padding: 3% 3% 12% 3%;
}

.successMessage > *{
    text-align: center;
}

.successMessage span{
    position: absolute;
    top: 60%;
    left: 40%;
}

.dissapear{
    display: none;
}

.profileDetails{
    padding: 50px 0 40px 0;
}

.profileDetails > *{
    text-align: center;
}

.profileDetails .avatar{
    display:block;
    margin: auto;
    height: 100px;
    min-width: 100x;
}

.settingIcon{
    position: absolute;
    top: 20px;
    right: 20px;
    color: blue;
}
.closeIcon{
    position: absolute;
    top: 20px;
    right: 20px;
    color: blue;
}

#linkedin{
    display:inline-block;
    margin: auto auto auto 10px;
    background-image: url("../icons/linkedin.png");
    height: 30px; 
    width: 30px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
#instagram{
    display:inline-block;
    margin: auto 10px auto auto;
    background-image: url("../icons/instagram.png");
    height: 30px; 
    width: 30px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

#settingsForm{
    display: block;
    max-width: 80%;
    /* margin-left: 25%; */
    margin: auto;
}

#settingsForm form input{
    width: 100%;
}

.btn{
    display: block;
    width: 100%;
    color: white;
}

/*modal*/

.bg-popup{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content{
    width: 400px;
    height: 700px;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    position: relative;
}

.modal-content h1{
    font-size: 45px;
    margin-top: 10%;
}

.pw-details{
    margin-bottom: 10%;
}

 .input-cp{
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius:8px;
    border: 1px solid #c4c4c4;
    margin-bottom: 1.25rem;
    font-size: 25px;
}

.close{
    position: absolute;
    top: 0;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
    margin-left: 85%;
}

.cp-btn{
    display: block;
    width: 60%;
    margin-left: 20%;
    color: rgb(0, 0, 0);
    background-color: #BFFD00;
    font-weight: 1000;
    margin-top: 20px;
    text-transform: uppercase;
    margin-bottom: 10%;
    margin-top: 10%;
    height: 40px;
    border-radius: 5px;
}

.btn:hover{
    background-color: blue;
}


/*report users*/
.modal-content2{
    width: 400px;
    height: 700px;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    position: relative;
}

.options{
    height: 30px;
    font-size: 25px;
}

#report{
    height: 300px;
}

.multi-choice{
    height: 20px;
    width: 20px;
    margin-right: 5%;  
}

.report-btn{
    margin-top: 15%;
    background-color: #BFFD00;
    color: black;
    border-radius: 5px;
    font-weight: bold;
}

.report-btn:hover{
    background-color: blue;
    color: white;
}

.followBtn{
    background-color: #1D1AFF;
    padding: 5px 35px ;
    border-radius: 5px;
    color: white;
}

.unfollowBtn{
    border: #1D1AFF solid 2px;
    padding: 3px 25px ;
    border-radius: 5px;
    color:#1D1AFF;
}

.cp-btn:hover{
    background-color: blue;
    color: white;
}

.editImage{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

#showcase-logo-container{
    display: flex;
    justify-content: center;
}

#showcase-logo{
    position: fixed;
    bottom: 0;
}

.detail-project{
    height: 350px;
    margin-bottom: 80px;
    width: 70%;
}

.project-actions{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: flex-end;
}

.whiteSpcae{
    height: 50px;
    width: 1px;
}

.commentList li{
    display: flex;
    justify-content: space-between;
}

@media (min-width: 50px){
    .search-filter{
        width: 80%;
        margin-left: 10%;
    }

    .search-form{
        width: 100%;
    }

    .profile{
        border-bottom: 2px solid rgb(188, 188, 188);
    }

    .showcase{
        display: flex;
        justify-content: center;
        height: 85px;
    }
}

@media (min-width: 450px){
    .projectImageContainer{
        height: 300px;
    }

    .projectImage{
        height: 300px;
    }
}

@media (min-width: 650px){
    .project{
        width: 45%;
    }
}



@media (min-width: 900px){

    .link3{
        margin-left: 50%;
    }

    /*nav*/

    .logo {
        font-size: 30px;
        margin-left: 10%;
    }
    
    .nav-mobile{
        display: none;
    }

    .navbar{
        
        display: flex;
        width: 100%;
        align-items: center;
        margin-bottom: 1%;
        margin-top: 1%;
        
    }
    
    .navbar ul{
        flex: 1;
        text-align: center;
        margin-right: 12%;
        font-weight: bold;
    }
    
    .navbar ul li{
        display: inline-block;
        margin: 0 30px;
        font-size: 30px;
    }
    .navbar li a{
        font-size: 22px;
    }

    .navbar a{
        font-size: 22px;
    }
    
    #line{
        margin-bottom: 2%;
        width: 100%;
        height: 1px;
        background-color: rgb(211, 211, 211);
    } 

    .alt-timeline{
        margin-top: 1%;
        margin-left: 45%;
        margin-bottom: 1%;
        font-weight: 600;
    }
      
    .alt-timeline a{
        font-size: 20px;
    }

    #line{
        margin-top: 1%;
        margin-bottom: 3%;
        width: 100%;
        height: 1px;
        background-color: rgb(157, 154, 154);
    } 

    #alt-feed{
        margin-right: 2%;
    }
        
    #alt-following{
        margin-left: 2%;
    }

    .search-form{
        width: 700px;
    }

    .filters{
        margin-top: 2%;
    }
    #quote{
     max-width: 70%;
   
    }
    .split-screen{
        flex-direction:row;
        height: 100vh;
    }
    .left, .right{
        display: flex;
        width:50%;
        height: auto;
    }

    .project-actions{
        margin-right: 21%;
    }

 .right form{
     width:400px;
     margin-top: 0%;
 }

 label{
     font-size: 20px;
 }

 .login-input{
    font-size: 30px;
    
}

.signup-btn{
    width: 70%;
    margin-left: 30%;
    margin-bottom: 20%;
}

.profileDetails{
    display: flex;
    padding: 0% 20% 5% 20% ;
    margin-left: 10%;
    margin-right: 10%;
}

.profileDetails > *{
    text-align: left;
}
.profileDetails .avatar{
    flex: 20;
}
#avatar-img{
    width: 200px;
    margin-top: -30%;
    
}
.userData{
    flex: 70;
}
.settingIcon{
    position: relative;
}
.closeIcon{
    position: relative;
}
#settingsForm{
    max-width: 40%;
}
.successMessage span{
    position: absolute;
    top: 55%;
    left: 45%;
}
.successMessage{
    padding: 3%;
}

.reportitem{
    margin-left: 75%;
}

.search-filter{
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}

.feed{
    margin-left: 8%;
    margin-right: 8%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.project{
    height: 450px;
    width: 28%;
    margin-bottom: 80px;
}

.detail-project{
    height: 450px;
    margin-bottom: 80px;
}

.profileProject{
    height: 410px;
}

.projectImageContainer{
    margin-bottom: 10px;
}

.avatar{
    height: 50px;
    width: 50px;
}

.avatar-profile{
    height: 100px;
    width: 100px;
}

.firstDetails{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.img-details{
    display: flex;
    flex-direction: row;
}

.details{
    height: 70px;
}

.postAction{
    text-decoration: none;
    width: 40px;
    height: 40px;
}
#reportuser{
    margin-left: 0%;
}

}

@media (min-width: 1400px){
    .search-filter{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 90%;
        margin-left: 5%;
    }

    .projectImageContainer{
        height: 400px;
        margin-top: 2%;
    }

    .projectImage{
        height: 400px;
    }

    .project{
        margin-bottom: 150px;
    }
}